<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :father_name %><br>
    <%= f.text_field :father_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, :start_year=>1950 %>
  </div>
  <div class="field">
    <%= f.label :pan_no %><br>
    <%= f.text_field :pan_no %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :nominee_name %><br>
    <%= f.text_field :nominee_name %>
  </div>
  <div class="field">
    <%= f.label :nominee_relationship %><br>
    <%= f.text_field :nominee_relationship %>
  </div>
  <div class="field">
    <%= f.label :nominee_date_of_birth %><br>
    <%= f.date_select :nominee_date_of_birth, :start_year=>1950 %>
  </div>
  <div class="field">
    <%= f.label :rbi_cc_op_no %><br>
    <%= f.text_field :rbi_cc_op_no %>
  </div>
  <div class="field">
    <%= f.label :rbi_ncop_no %><br>
    <%= f.text_field :rbi_ncop_no %>
  </div>
  <div class="field">
    <%= f.label :business_enrolment_date %><br>
    <%= f.date_select :business_enrolment_date, :start_year=>1950 %>
  </div>
  <div class="field">
    <%= f.label :bank_name %><br>
    <%= f.text_field :bank_name %>
  </div>
  <div class="field">
    <%= f.label :bank_account_no %><br>
    <%= f.text_field :bank_account_no %>
  </div>
  <div class="field">
    <%= f.label :branch_name %><br>
    <%= f.text_field :branch_name %>
  </div>
  <div class="field">
    <%= f.label :ifsc_code %><br>
    <%= f.text_field :ifsc_code %>
  </div>
  <div class="field">
    <%= f.label :mobile_no %><br>
    <%= f.text_field :mobile_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
