<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @member.father_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @member.date_of_birth %>
</p>

<p>
  <strong>Pan no:</strong>
  <%= @member.pan_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Nominee name:</strong>
  <%= @member.nominee_name %>
</p>

<p>
  <strong>Nominee relationship:</strong>
  <%= @member.nominee_relationship %>
</p>

<p>
  <strong>Nominee date of birth:</strong>
  <%= @member.nominee_date_of_birth %>
</p>

<p>
  <strong>Rbi cc op no:</strong>
  <%= @member.rbi_cc_op_no %>
</p>

<p>
  <strong>Rbi ncop no:</strong>
  <%= @member.rbi_ncop_no %>
</p>

<p>
  <strong>Business enrolment date:</strong>
  <%= @member.business_enrolment_date %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @member.bank_name %>
</p>

<p>
  <strong>Bank account no:</strong>
  <%= @member.bank_account_no %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @member.branch_name %>
</p>

<p>
  <strong>Ifsc code:</strong>
  <%= @member.ifsc_code %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @member.mobile_no %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
